<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>rank</h3>
    <form action="/admin/" method="post">
        {% csrf_token %}
        {% for date in date_list %}
            <input type="submit" name="selected_date" value="{{ date|date:'Y-m-d' }}"></input>
        {% endfor %}
    </form>
    <table>
        <tr>
            <td>rank</td>
            <td>discord_id</td>
            <td>student_id</td>
            <td>baekjoon_id</td>
            <td>name</td>
            <td>point</td>
            <td>map_location</td>
            <td>bj_solv_contd</td>
        </tr>
        {% for member in member_rank %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ member.discord_id }}</td>
            <td>{{ member.student_id }}</td>
            <td>{{ member.baekjoon_id }}</td>
            <td>{{ member.name }}</td>
            <td>{{ member.point }}</td>
            <td>{{ member.map_location }}</td>
            <td>{{ member.bj_solv_contd }}</td>
        </tr>
        {% endfor %}
    </table>

    <h3>칸 별 인원 분포</h3>
    {% for map in map_list %}
    <div>
        <h3>{{ map.id }} ({{ map.members|length }})</h3>
        <table>
            <tr>
                <td>baekjoon_id</td>
                <td>name</td>
                <td>point</td>
                <td>bj_solv_contd</td>
            </tr>
            {% for member in map.members %}
            <tr>
                <td>{{ member.baekjoon_id }}</td>
                <td>{{ member.name }}</td>
                <td>{{ member.point }}</td>
                <td>{{ member.bj_solv_contd }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endfor %}


    <!-- 보스 레이드 -->
    <h2>!Boss</h2>
    <h3>Boss의 체력을 출력한다</h3>
    {{curr_life.life}}</br></br></br>

    <h3>Boss의 남은 체력 %</h3>
    {% load dmg_filter %}
    {{ curr_life.life|currentLife }} % </br></br></br>


    <h3>Boss Rank를 출력한다</h3>

    <table border="1" width="300">
        <tr>
            <td align="center">번호</td>
            <td>아이디</td>
            <td>데미지</td> 
            <td>퍼센트</td>
        </tr>

        {% for rank in boss_rank %}
        <tr>
            <td align="center">{{forloop.counter}}</td>
            <td>{{rank.discord_id}}</td>
            <td align="center">{{rank.total_dmg}}</td>
            <td align="center">
                {% load dmg_filter %}
                {{ rank.total_dmg|dmgPer:curr_life.life }} %
            </td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>